@use '../../utils/mixins.scss'as *;
@use '../../utils/variables.scss'as *;

.favorites_page {
  display: flex;
  flex-direction: column;
  padding: 24px 16px 56px;
  margin: 0;

  @include onTablet {
    @include contentMaxWidth;
    padding: 24px 0 64px;
  }

  &__breadcrumbs {
    display: flex;
    padding-bottom: 24px;
    gap: 8px;

    @include onTablet {
      padding-bottom: 40px;
    }
  }

  &__home {
    width: 16px;
    height: 16px;
    cursor: pointer;
  }

  &__arrow {
    width: 16px;
    height: 16px;
  }

  &__breadcrumb {
    font-family: $main-text-font-family;
    font-weight: 700;
    font-size: 12px;
    color: $main-text-color;
  }

  &__title {
    padding-bottom: 32px;

    @include onTablet {
      padding-bottom: 40px;
    }
  }

  &__title_text {
    margin: 0;
    font-family: $main-text-font-family;
    font-weight: 800;
    font-size: 32px;
    line-height: 41px;
    padding-bottom: 8px;

    @include onTablet {
      font-size: 48px;
      line-height: 56px;
    }
  }

  &__count {
    margin: 0;
    font-family: $main-text-font-family;
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
    color: $main-text-color;
  }

  &__empty {
    text-align: center;
    font-family: $main-text-font-family;
    font-weight: 800;
    font-size: 32px;
    line-height: 41px;

    @include onTablet {
      font-size: 48px;
      line-height: 56px;
    }
  }

  &__products {
    display: flex;
    flex-direction: column;
    gap: 40px;
    align-items: stretch;

    &>* {
      width: 100%;
    }

    @include onTablet {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      column-gap: 16px;
      row-gap: 40px;
    }

    @include onDesktop {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
    }
  }
}
