@use '../../utils/mixins.scss'as *;
@use '../../utils/variables.scss'as *;

.products_list {
  display: grid;
  justify-items: center;
  justify-content: center;
  grid-template-columns: 1fr;
  column-gap: 16px;
  row-gap: 40px;


  @include onTablet {
    grid-template-columns: repeat(2, 1fr);
  }

  @include onDesktop {
    grid-template-columns: repeat(4, 1fr);
  }
}
