@use './variables.scss'as *;

@mixin onTablet {

  @media (min-width: $tablet-min-width) {
    @content;
  }
}

@mixin onDesktop {

  @media (min-width: $desktop-min-width) {
    @content;
  }
}

@mixin contentMaxWidth() {

  @include onTablet {
    max-width: $tablet-min-width;
    margin: 0 auto;
  }

  @include onDesktop {
    max-width: $desktop-min-width;
    margin: 0 auto;
  }
}

// Миксин для изменения цвета текста
@mixin hover($property, $toValue) {
  transition: #{$property} 0.3s ease;

  &:hover {
    #{$property}: $toValue;
  }
}

// Mixin for 10% scaling with a smooth transition
@mixin imageHoverScale {
  transition: transform 0.3s ease;

  &:hover {
    transform: scale(1.1);
  }
}

@mixin pageGrid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 16px;

  @include onTablet {
    grid-template-columns: repeat(12, 1fr);
  }

  @include onDesktop {
    grid-template-columns: repeat(24, 32px);
  }
}
