$tablet-min-width: 640px;
$desktop-min-width: 1200px;
//$effectDuration: 0.3s ease;
$main-background-color: #0F1121;
$white-text-color:#F1F2F9;
$main-text-color:#75767F;
$gray-text-color: #3B3E4A;
$color-pictures-phones: #6D6474;
$color-pictures-light-grey: #4A4D58;
$color-pictures-accessory: #D53C51;
$background-color-prodact-card:#161827;
$main-button-gray-color: #323542;
$main-button-green-color: #27AE60;
$main-color-violet: #905BFF;
$main-button-hover-color: #6432cf;
$main-text-color-red:#EB5757;
$background-color-not-faund-page: #272b4b;
$main-text-font-family: 'Mont',
sans-serif;

