$tablet-min-width: 592px;
$desktop-min-width: 1136px;
//$effectDuration: 0.3s ease;
$main-background-color: #0F1121;
$hover-text-color:#F1F2F9;
$main-text-color:#75767F;
$main-text-font-family: 'Mont',
sans-serif;
