@use '../../utils/mixins.scss'as *;
@use '../../utils/variables.scss'as *;

.homePage {
  padding-bottom: 64px;

  @include onDesktop {
    padding-bottom: 80px;
  }

  &__section {
    margin-bottom: 56px;

    @include onTablet {
      margin-bottom: 64px;
    }

    @include onDesktop {
      margin-bottom: 80px;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.visuallyHidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}
